<ActionBar title="Store" class="action-bar">
    <android>
        <NavigationButton icon="res://ic_menu" tap="showSideDrawer" />
    </android>
    <ios>
        <ActionItem icon="res://ic_menu" ios.position="left" tap="showSideDrawer" />
    </ios>
    <!--<Label text="Store" class="action-bar-label"></Label>-->
</ActionBar>


<!--<Page class="page" navigatingTo="onNavigatingTo" xmlns="http://schemas.nativescript.org/tns.xsd">-->

    <!--<ActionBar title="RadSideDrawer!" class="action-bar">-->
        <!--<ActionBar.actionItems>-->
            <!--<ActionItem>-->
                <!--<ActionItem.actionView>-->
                    <!--<StackLayout>-->
                        <!--<Button class="fa" text="&#xf0c9;" fontSize="20" tap="onDrawerButtonTap"></Button>-->
                    <!--</StackLayout>-->
                <!--</ActionItem.actionView>-->
            <!--</ActionItem>-->
        <!--</ActionBar.actionItems>-->
    <!--</ActionBar>-->

    <!--<GridLayout class="page-content">-->
        <!--<Label class="page-icon fa" text="&#xf015;"></Label>-->
        <!--<Label class="page-placeholder" text="&lt;!&ndash; Page content goes here &ndash;&gt;"></Label>-->
    <!--</GridLayout>-->
<!--</Page>-->
